/* Pour construire le menu en mobile : 
On construit le menu tel qu'il sera une fois ouvert.
On ajoute les propriétés "visibility: hidden" et "opacity: 0" pour masquer le menu. */
.menu {
  position: fixed; /* Fixe le menu en position, il ne défilera pas avec la page : https://developer.mozilla.org/fr/docs/Web/CSS/position#fixed */
  background-color: white; /* Définit la couleur de fond du menu en blanc : https://developer.mozilla.org/fr/docs/Web/CSS/background-color */
  display: flex; /* Utilise Flexbox pour la mise en page des éléments enfants : https://developer.mozilla.org/fr/docs/Web/CSS/display-inside#flex */
  top: 0; /* Positionne le menu en haut de la page : https://developer.mozilla.org/fr/docs/Web/CSS/top */
  bottom: 0; /* Étend le menu jusqu'en bas de la page */
  left: 0; /* Positionne le menu à gauche de la page */
  right: 0; /* Étend le menu jusqu'à droite de la page */
  transition: margin-right 0.4s;; /* Définit une transition de 0.4 secondes pour toutes les propriétés, avec un effet d'accélération et de décélération : https://developer.mozilla.org/fr/docs/Web/CSS/transition */
  opacity: 0; /* Rend le menu complètement transparent : https://developer.mozilla.org/fr/docs/Web/CSS/opacity */
  visibility: hidden; /* Cache le menu en le rendant invisible : https://developer.mozilla.org/fr/docs/Web/CSS/visibility#hidden  */
}
/* On se sert de Javascript pour gérer l'ouverture et la fermeture du menu avec l'attribut "aria-hidden" */
.menu[aria-hidden="false"] {
  visibility: visible; /* Rend le menu visible */
  opacity: 1; /* Rend le menu complètement opaque */
}

/* On ajoute une classe sur le body pour empêcher le scroll lorsque le menu est ouvert */
.noscroll {
  overflow: hidden; /* Empêche le défilement de la page */
}

/* Mise en forme du bouton de menu "Hamburger" */
.menu-btn {
  position: relative; /* Positionne le bouton par rapport à son conteneur parent */
  z-index: 3; /* Assure que le bouton est au-dessus des autres éléments */
  width: 30px; /* Définit la largeur du bouton à 30px */
  transition: all 0.4s ease-in-out; /* Ajoute une transition de 0.4 secondes pour toutes les propriétés, avec un effet d'accélération et de décélération */
}

/*
  "aria-expanded" géré par JavaScript pour l'ouverture et la fermeture.
 */
.menu-btn[aria-expanded="true"] {
  transform: rotate(
    90deg
  ); /* Fait pivoter le bouton de menu de 90 degrés lorsqu'il est en état "expanded" */
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff8e1;
  width: 400px;
  margin: 0 auto;
  overflow-x: hidden;
}

.img {
  width: 100%;
  height: auto;
}

/* Pages */
.page {
  background-color: #fff8e1;
}

.page__title {
  font-size: 40px;
  text-align: center;
  font-family: 'Bangers';
}

.page__item {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.page__item--list {
  width: 150px;
  align-items: center;
  background-color: #fff8e1;
}

.page__description {
 font-size: 1.2rem;
 margin-bottom: 30px;
}

.cat-details {
  margin: 30px;
  background-color: white;
  padding: 20px;
}

.cat-details__list {
  list-style: none;
  padding: 0;
}

.cat-details__item {
  margin-bottom: 20px;
}

.cat-details__image {
  align-items: center;
  max-width: 100%;
  height: auto;
}

.cat-details__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.cat-details__text {
  font-size: 1rem;
}

.cat-details__link a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #4c93af;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cat-details__link:hover {
  text-decoration: underline;
  color: #ffffff;
}

.footer {
  background-color: #434040;
  color: white;
  padding: 10px 0;
}

.footer__list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer__item {
  margin: 5px;
}

.footer__link {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer__link:hover {
  text-decoration: underline;
}

/* accueil */
.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  background-color: rgb(201, 247, 248);
  border-radius: 10px;
 
}

.header__title {
  font-family: 'Bangers';
  text-align: center;
}

.header__menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: 50px;
}

.header__menu {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  bottom: auto;
}

.menu__list {
  list-style: none;
}

.menu__item {
  margin-bottom: 20px;
  display: block;
}

.menu__link {
  text-decoration: none;
  color: rgb(58, 0, 128);
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
}

.menu__link:hover {
  background-color: rgb(0, 3, 4);
  color: #ffffff;
}
.subtitle {
  margin-top: -10px;
}

.main {
  padding: 40px;
}

.section__item {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.section__title {
  align-items: center;
  margin: 10px;
  text-align: center;
  
}

.section__link {
  text-decoration: none;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(58, 0, 128)
}


li::marker {
  content: none;
  /* Supprime le marqueur */
}

.section__link:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}

